.content {
  margin: 0 auto;
  width: 500px;
}

footer {
  background-color: #373738;
  color: white;
}

.heroImg {
  height: 600px;
  padding: 25px;
}

li{
  display: inline;
  vertical-align: text-top;
  padding: 25px;
}

.logo {
  padding: 1%;
  text-align: center;
  width: 23%;
}

nav {
  margin-left: auto;
  width: 50%;
}
