
.content{
  margin: 0 auto;
  width: 500px;
}

footer{
  background-color: #373738;
}

.heroImg{
  height: 600px;
  padding:
}

  .inline-block{
    display:inline-block;
  vertical-align: top;}

.logo{
  padding: 1%;
  text-align: center;
  width: 23%;
}

nav{

  margin-left: auto;
    width:50%;
}
