.content {
  margin: 0 auto;
  width: 500px;
}

footer {
  background-color: #373738;
  color: white;
}

.heroImg {
  height: 800px;
  padding: 25px;
  width: 800px;
  margin:0 auto;
  border: 4px solid red;


}

.inlineblock{
  display:inline-block;
  vertical-align: text-top;
  padding: 5px;
  font-size: 31px;
  color:white;
  background-color:black;
}

.logo {
  padding: 1%;
  text-align: center;
  width: 23%;
}

nav {
  margin-left: auto;
  width: 73%;
  padding:1%;
}
